& .nav-orig {
    display: flex;
    color: black;
    position: absolute;
    width: fit-content;
    padding: 1rem;
    background: #2C3E50;
    border-radius: 10px;
    left: 1rem;
    top: 6rem;
    z-index: 999;
    gap: 1rem;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

& .nav-orig:hover {
    background: #566b81;
    color: rgba(255, 255, 255, 0.712);
}