* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: ;
    --main-color: ;
    --text-color: white;
    --second-text-color:rgba(255, 255, 255, 0.53) ;
}


body {
    background-color: white;
    height: 100dvh;
}